%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title &lt;td/&gt;, a tower defense game
    %link{ rel: 'stylesheet', type: 'text/css', href: '/public/css/style.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'http://github.com/colingourlay/frak/raw/master/frak.css', media:'screen and (min-device-width: 481px)' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Molengo&subset=latin', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Neucha&subset=latin', rel: 'stylesheet', type: 'text/css' }
    %script{ src: 'http://code.jquery.com/jquery-1.4.2.min.js', type: 'text/javascript' }
  %body
    %a{ href: 'http://github.com/pheuter/td' }
      %img{ style: 'position: absolute; top: 0; right: 0; border: 0;', src: 'http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt:'Fork me on GitHub' }
    %div{ class: 'container' }
      %div{ id: 'header', class:'frak' }
        %div{ class: 'quarter' }
          %div{ class: 'module' }
            %h1{ id: 'title' } &lt;td/&gt;
        %div{ class: 'quarter x3' }
          %div{ class: 'module' }
            %h3{ id: 'subtitle' } tower defense
      %div{ class: 'frak' }
        %div{ class: 'half' }
          %div{ id: 'downloads', class: 'module' }
            %h2{ style: 'font-size:18px;' } About
            %p &lt;td/&gt; will be a realtime multiplayer tower defense game and an entrant to the Mozilla GameOn gaming competition.
            %p It is currently a work in progress. Be sure to check frequently for new updates!
        %div{ class: 'half' }
          %div{ class: 'module' }
            %h2{ style: 'font-size:18px;' } The Team
            %img{ style: 'margin-right:10px;float:left;', width: 181, height: 128, src: 'http://cl.ly/2a4fd8e0fb1e87088560/content' }
            %a{ href: 'http://markfayngersh.com', style: 'color:brown;font-size:26px;font-family: \'Neucha\', arial, serif;border:none;' } Mark Fayngersh
            %p Developer, student, and casual musician, Mark enjoys spending his free time writing programs and learning chords.
            %img{ style: 'margin-left:10px;float:right;', width: 120, height: 150, src: 'http://cl.ly/817e079f7f5d9716d6cf/content' }
            %a{ href: 'http://blog.alecbenzer.com', style: 'padding-left:220px;color:brown;font-size:26px;font-family: \'Neucha\', arial, serif;border:none;' } Alec Benzer
            %p{ style: 'text-align:right;' } My name is Alec. I like to program, and I don't believe in bios.
      %div{ id: 'footer', class: 'frak' }
        %div{ class: 'whole' }
          %div{ class: 'module' }
            %span
              I never did a day's work in my life. It was all fun. -Thomas A. Edison